.page {
  font-family: "IBM Plex mono", Arial, Helvetica, sans-serif;
  background-image: var(--cover-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: var(--main-background);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
}

.header {
  display: grid;
  min-height: 668px;
  padding: 20px;
  height: 100vh;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 11px;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color);
  outline: 0;
  outline-offset: -1px;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--menu-color);
  outline-offset: 0;
}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  padding: 3px 13px;
  color: var(--menu-color);
  background-color: transparent;
  border: 0;
  text-transform: lowercase;
  line-height: 18px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--title-shadow-hover);
  outline-offset: -1px;
}

.header-title {
  color: var(--header-title-color);
  text-shadow: 4px 4px var(--title-shadow);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  margin-left: -20px;
}

.container__header-p {
  grid-column-start: 2;
  font-weight: 700;
}

.container__header-text {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.decorative__element {
  display: var(--decorative-element-display);
  align-items: center;
  position: absolute;
  z-index: -1;
  top: 20px;
  right: 28px;
  gap: 10px;
}

.decorative__element::before {
  content: "rec";
  text-transform: uppercase;
  color: var(--theme-border);
  display: inline-block;
}

.decorative__element::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--theme-border);
  background: var(--theme-border);
  inline-size: 9px;
  block-size: 9px;
}

.main {
  margin: 60px 20px 0 20px;
  display: flex;
  gap: 80px;
  flex-direction: column;
}

.introduction_theme_list {
  display: grid;
  gap: 20px;
  grid-template-columns: min-content 1fr;
}

.section-title {
  color: var(--menu-color);
  width: 315px;
  font-size: inherit;
}

.title-decor {
  background: var(--theme-border);
  color: var(--subtitle-color);
  font-size: inherit;
}

.subtitle {
  font-size: inherit;
}

.content {
  margin-block-start: 10px;
}

.content-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--theme-border);
}

.content-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.content-link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: -1px;
}

.content-link:focus {
  outline: 0;
}

.section-theme_text {
  display: grid;
  margin-block-start: 20px;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.conclusion_theme_list {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
}

.theme-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtopic {
  font-weight: 400;
}

.section-gallery {
  display: grid;
  grid-template-areas:
    "title title title"
    "sunset sunset icecream"
    "tape book icecream"
    "tape street street";
  gap: 20px;
}

.section-gallery .title-decor-gallery {
  grid-area: title;
}

.section-gallery .picture-decor {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.section-gallery .picture-decor:nth-child(2) {
  grid-area: sunset;
}

.section-gallery .picture-decor:nth-child(3) {
  grid-area: icecream;
}

.section-gallery .picture-decor:nth-child(4) {
  grid-area: tape;
}

.section-gallery .picture-decor:nth-child(5) {
  grid-area: book;
}

.section-gallery .picture-decor:nth-child(6) {
  grid-area: street;
}

.footer {
  display: flex;
  min-height: 668px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 60px;
}

.footer-title {
  color: var(--header-title-color);
  text-shadow: 2px 2px var(--title-shadow);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  z-index: 0;
  height: 25px;
  width: 25px;
  border: 1px solid var(--menu-color);
  border-width: 1px 1px 0 0;
  top: 20px;
  right: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: 0;
  height: 25px;
  width: 25px;
  border-width: 0 0 1px 1px;
  left: 20px;
  bottom: 20px;
  border-inline-start: 1px solid var(--menu-color);
  border-block-end: 1px solid var(--menu-color);
}

@media (max-width: 1023px) {
  .header__theme-menu {
    display: grid;
  }
  .header__theme-menu-list {
    justify-content: end;
    align-self: center;
    display: grid;
    gap: 13px;
  }

  .section-theme_text {
    display: flex;
    flex-direction: column;
  }

  .section-title {
    width: 236px;
  }
}

@media (max-width: 767px) {
  .header-title,
  .footer-title {
    margin-left: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .footer {
    margin-block-start: 40px;
  }

  .container__header-text {
    display: flex;
  }

  .header {
    padding: 10px;
  }

  .container__header-p {
    margin: 0;
  }

  .decorative__element {
    top: 10px;
    right: 20px;
  }

  .introduction_theme_list {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
  }

  .section-title {
    width: 346px;
  }

  .main {
    margin: 40px 10px 0 10px;
    gap: 50px;
  }

  .conclusion_theme_list {
    grid-template-columns: 1fr;
  }

  .section-gallery {
    grid-template-areas:
      "title"
      "sunset"
      "icecream"
      "tape"
      "book"
      "street";
    gap: 10px;
  }

  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }
}
